[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"                   # HTTP for Humans
lxml = "*"                       # Library for processing XML and HTML
pandas = "*"                     # Data manipulation and analysis
pytz = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
